.DS_Store
node_modules/
/dist*/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/build-info.json
docs/user-manual*

# local config file
config/cocoda*.json
!config/cocoda.default.json
!config/cocoda.dev.json
!config/cocoda.master.json
# local colors file
src/style/user-colors.css

# Relases (when using bin/build-all.sh)
releases/

# Temporary folder
temp/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
