.DS_Store
node_modules/
/dist*/
/styleguide/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local config file
config/cocoda*.json
!config/cocoda.default.json
!config/cocoda.dev.json
!config/cocoda.master.json
# local colors file
src/style/user-colors.less

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
