language: node_js
node_js:
  - "7"
  - "6"
cache:
  directories:
    - $HOME/.npm
install:
  - npm i -g npm@5.10.0
  - travis_retry npm ci
script:
  - npm run lint
  - npm run build
  - mv dist dist-files # prevent styleguide:build overriding dist
  - npm run styleguide:build
  - mv dist-files styleguide/dev
deploy:
  provider: pages
  local_dir: styleguide
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    node: "7"
    branch: dev
