// Base colors // ------------------------------------------------------

@color-primary: #832e0c;
@color-secondary: #d5c9c9;

@color-black: #212121;
// @color-white: #f2f1ef;

@color-success: desaturate(#309000, 30%);
@color-warning: @color-secondary;
@color-danger: rgb(206, 18, 18);

// Adjusted base colors // ---------------------------------------------

@color-primary-dark: darken(@color-primary, 5%);
@color-primary-light: lighten(@color-primary, 15%);

@color-secondary-light: lighten(@color-secondary, 8%);
@color-secondary-dark: darken(@color-secondary, 25%);

@color-success-light: lighten(@color-success, 15%);
@color-success-dark: darken(@color-success, 15%);
@color-warning-light: lighten(@color-warning, 15%);
@color-warning-dark: darken(@color-warning, 15%);
@color-danger-light: lighten(@color-danger, 15%);
@color-danger-dark: darken(@color-danger, 15%);

// Text colors (monochrome) // -----------------------------------------

@color-text-dark: @color-black;
@color-text-grey: rgb(74, 74, 74);
@color-text-lightGrey: rgb(115, 115, 115);
@color-text-mediumLightGrey: rgb(170, 170, 170);
@color-text-veryLightGrey: rgb(210, 210, 210);

// General colors // ---------------------------------------------------

@color-background: rgb(255, 255, 255);
@color-background-primary: @color-secondary;
@color-background-secondary: lighten(#e9e1e1, 6%);
@color-background-heading: rgb(240, 240, 240);

@color-loading-overlay-background: rgba(255, 255, 255, 0.6);

@color-shadow: rgba(0, 0, 0, 0.2);

@color-link: @color-primary;
@color-link-hover: @color-primary-light;

// Button colors (monochrome) // ---------------------------------------

@color-button: #555555;
@color-button-slightlyFaded: fadeout(@color-button, 40%);
@color-button-faded: fadeout(@color-button, 80%);
@color-button-hover: @color-primary-light;
@color-button-disabled: rgb(228, 228, 228);
@color-button-delete: @color-danger;
@color-button-delete-hover: @color-danger-dark;

// Component specific colors // ----------------------------------------

@color--mappingBrowser-table-match: fadeout(@color-secondary-light, 70%);
@color--mappingBrowser-table-match-hover: fadeout(@color-secondary-light, 45%);
@color--mappingBrowser-table-editing: fadeout(@color-secondary, 40%);
@color--mappingBrowser-table-editing-hover: fadeout(@color-secondary, 30%);

@color--conceptSearch-result-selected: @color-primary-dark;
@color--conceptSearch-result-selected-background: @color-background-secondary;
@color--conceptSearch-searchHighlight: @color-secondary-dark;
@color--conceptSearch-searchHighlight-selected: @color-secondary-dark;

@color--itemName-highlighted: @color-text-grey;

@color--loadingIndicator-border: rgb(243, 243, 243);
@color--loadingIndicator-border-top: rgb(52, 152, 219);

// Alert colors // -----------------------------------------------------

@color-alert-success: @color-text-dark;
@color-alert-success-background: rgb(193, 221, 198);

// Import user colors to override colors
@import (optional) "./user-colors.less";
