// Import colors
@import "./colors.less";

// Import z-index values
@import "./z-index.less";

// Import text styles
@import "./text-styles.less";

// Import utilities
@import "./utilities.less";

// Import mixins
@import "./mixins.less";

/* Define appearance of main components (boxes) */
.mainComponent {
  .m-borderRadius(2px);
  background-color: @color-background;
  margin: 2px;
  overflow: hidden;
}

/* Define default table style */
.defaultTableWrapper {
  position: relative;
  flex: 1 1 auto;
  height: 0;
  margin: 10px auto 5px auto;
  max-width: 97%;
}
.defaultTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  overflow: hidden;
  text-align: center;
}
.defaultTableHead {
  display: block;
  flex: 0 0 auto;
  overflow-y: auto;
  overflow: hidden;
}
.defaultTableBody {
  display: block;
  flex: 1 1 auto;
  overflow: auto;
}

p {
  margin: 3px 0 !important;
}

.utilityIcon {
  cursor: pointer;
  &:extend(.fontWeight-heavy);
  position: absolute;
  font-size: 12px;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  z-index: @zIndex-2;
  color: fadeout(@color-button, 70%);
  background-color: fadeout(@color-button-disabled, 80%);
  &:hover {
    color: fadeout(@color-button, 40%);
    background-color: fadeout(@color-button-disabled, 60%);
  }
}
