// Import colors
@import "./colors.less";

/* Define color scheme for text and background color */
.text-dark { color: hsl(0, 0%, 13%) }
.text-grey { color: hsl(0, 0%, 29%) }
.text-light-grey { color: hsl(0, 0%, 45%) }
.font-heavy { font-weight: 700 }

/* Define default font sizes */
.font-size-small { font-size: 0.8rem }
.font-size-normal { font-size: 1.0rem }
.font-size-large { font-size: 1.2rem } /* only to be used in the navbar! */

/* Define button colors */
@buttonColor: @color-primary-0;
@buttonColorHover: @color-secondary-2-4;
@buttonColorDisabled: fadeout(#777777, 80%);

/* Define appearance of main components (boxes) */
.mainComponent {
  background-color: #ffffff;
  margin: 2px;
  border-radius: 2px;
  overflow: hidden;
}

/* Define default table style */
.defaultTableWrapper {
  position: relative;
  flex: 1 1 auto;
  height: 0;
  margin: 10px auto 5px auto;
  max-width: 97%;
}
.defaultTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  overflow: hidden;
  text-align: center;
}
.defaultTableHead {
  display: block;
  flex: 0 0 auto;
  overflow-y: auto;
  overflow: hidden;
}
.defaultTableBody {
  display: block;
  flex: 1 1 auto;
  overflow: auto;
}

.flipHorizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.flipVertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

p {
  margin: 3px 0 !important;
}

.utilityIcon {
  cursor: pointer;
  &:extend(.font-heavy);
  position: absolute;
  font-size: 12px;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  z-index: 250;
  color: fadeout(@buttonColor, 70%);
  background-color: fadeout(@buttonColorDisabled, 18%);
  &:hover {
    color: fadeout(@buttonColor, 40%);
    background-color: fadeout(@buttonColorDisabled, 15%);
  }
}
