// Text and font styles // --------------------------------------------------

@import "./colors.less";

.text-dark {
  color: @color-text-dark;
}
.text-grey {
  color: @color-text-grey;
}
.text-lightGrey {
  color: @color-text-lightGrey;
}
.text-mediumLightGrey {
  color: @color-text-mediumLightGrey
}
.text-veryLightGrey {
  color: @color-text-veryLightGrey;
}
.fontWeight-heavy {
  font-weight: 700
}
.fontSize-verySmall {
  font-size: 0.75rem;
}
.fontSize-small {
  font-size: 0.8rem;
}
.fontSize-normal {
  font-size: 0.9rem
}
.fontSize-large {
  font-size: 1.1rem
}
.font-default {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
