:root {
  --font-size-large: 1.1rem;
  --font-size-normal: 0.9rem;
  --font-size-small: 0.8rem;
  --font-size-tiny: 0.75rem;
  --font-weight-medium: 500;
  --font-weight-heavy: 700;
}

.text-dark {
  color: var(--color-text);
}
.text-lightGrey {
  color: var(--color-text-lightGrey);
}
.text-mediumLightGrey {
  color: var(--color-text-mediumLightGrey);
}
.text-veryLightGrey {
  color: var(--color-text-veryLightGrey);
}
.fontWeight-medium {
  font-weight: var(--font-weight-medium);
}
.fontWeight-heavy {
  font-weight: var(--font-weight-heavy);
}
.font-italic {
  font-style: italic;
}
.fontSize-verySmall {
  font-size: var(--font-size-tiny);
}
.fontSize-small {
  font-size: var(--font-size-small);
}
.fontSize-normal {
  font-size: var(--font-size-normal);
}
.fontSize-large {
  font-size: var(--font-size-large);
}
.font-default {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-normal);
  color: var(--color-text);
}
