// Utilities // --------------------------------------------------

// Import colors
@import "./colors.less";

// Import z-index values
@import "./z-index.less";

.u-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform:         scaleX(-1);
}
.u-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform:         scaleY(-1);
}
.u-textBreak {
  word-break: break-all;
}
.fillAndCenter {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: @zIndex-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
